/*Melanie Gin and Damian Chavira
This CSS file controls the styling for the the index page which is the login/create
account page. It's a simple layout and style for this page.*/

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right, #006666 0%, #003366 100%);
    background-attachment: fixed;
}

#outer {
    position: absolute;
    width: 50%;
    height: 375px;
    top: 25%;
    left: 25%;
    background-color: white;
    border: 2px solid black;
    text-align: center;
}

form {
    position: absolute;
    top: 18%;
    left: 15%;
    width: 70%;
    min-height: 62%;
    padding-top: 2%;
    border: 3px solid black;
}

#create {
    display: inline-block;
    text-align: left;
}

#help {
    position: fixed;
    width: 25px;
    right: 25%;
}

button {
    margin-left: 10%;
}